@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: 100%;
}

button,
input[type='submit'] {
  border: 1px solid #919ba9;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
